.vs
Win64
Solution
Cache

*.vcxproj.filters
*.vcxproj.user
*.tlog
*.pdb
*.recipe
*.ilk
*.log
*.idb
*.sln
*.vcxproj
*.aps
*.bin
*.rc

Test
Build_Debug.bat
Build_MinSizeRel.bat
Build_RelWithDebInfo.bat
Build_Release.bat
CMakeLists.txt
GenerateProjectFiles.bat
HotReload.bat
LICENSE.txt
Package_Debug.bat
Package_MinSizeRel.bat
Package_RelWithDebInfo.bat
Package_Release.bat